// @mixin followed by fun name and a set of css inside paranthesis
// to include it, use @include and name of the fun, 
// we can also pass arg and call the fun with respective arg, so that we can reuse it. kind of method with params.
@mixin my-list{
    list-style-type: none;
    display: inline-block;
}

@mixin list-style{
    li{
        list-style-type: none;
        color: black;
        &:hover{
            color: black;
        }
    }
    a{
        text-decoration: none;
    }
}